sudo: false
language: node_js
node_js:
  - 4.5

before_install:
# Get installer script.
  - cd bin
  - wget https://github.com/nodeGame/nodegame/raw/master/bin/install-nodegame-for-module.sh
  - chmod a+x install-nodegame-for-module.sh
  - cd ..

install:
# Share node_modules with nodeGame.
  - mkdir -p nodegame node_modules
  - ln -s ../node_modules nodegame/node_modules
  - ln -s .. node_modules/nodegame-widgets
  - ./bin/install-nodegame-for-module.sh -g "nodegame-window JSUS NDDB shelf.js nodegame-client nodegame-server descil-mturk nodegame-requirements nodegame-monitor nodegame-db nodegame-game-template nodegame-mongodb"
  - npm install

script:
# Add nodegame-widgets tests here.

# Test Ultimatum game.
  - cd nodegame/games
  - git clone https://github.com/nodeGame/ultimatum.git
  - cd ultimatum
  - ./bin/run-standalone-test.sh
